/* Common Css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
.container{
    width: 1170px;
    margin:  0 auto;
}
/* Navbar Part */
.common-title{
    text-align: center;
}
.common-title h1{
    padding-bottom: 30px;
    color: #555;
    line-height: 38px;
    font-family: 'Raleway', sans-serif;
    font-size:30px;
    font-weight: 500px;
}
.common-title p{
    padding-bottom: 40px;
    color: #8c8c8c;
    width: 800px;
    line-height: 30px;
    font-size:16px;
    font-weight: 300px;
    font-family: 'Montserrat', sans-serif;
}
#navbar{
    padding: 40px 0;
    position: absolute;
    width: 100%;
    z-index: 9999;
}
.nav-wrapper{
    display: flex;
    justify-content: space-between;
}
.logo{
    padding: 40px 0;
}
.nav-item ul{
    display: flex;
    /* justify-content: space-between; */
    padding: 60px 0;
}
.nav-item ul li a{
    padding: 0 15px 0 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300px;
    font-size: 14px;
    color: #fff;
    transition: all linear 0.3s;
}
.nav-item ul li:nth-child(8) a{
    padding-right: 0;
    
}
.nav-item ul li a:hover{
    color: #c7b299;
}
/* Banner */
#banner{
    background: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 380px 0;
    text-align: center;
    z-index: 1;
    position: relative;
}
#banner:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.7);
}
.banner-details h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 500px;
    font-size: 36px;
    color: #fff;
}
.banner-details h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 800px;
    font-size: 52px;
    color: #fff;
}
.banner-details p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300px;
    font-size: 16px;
    color: #fff;
    width: 550px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.bnr-btn{
    padding: 20px 40px;
    border-radius: 4px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 800px;
    font-size: 14px;
    text-transform: uppercase;
    background: #988574;
    border: none;
    box-shadow: 0 3px 0 0 #726257;
}

/* Service */
#service{
    text-align: center;
    padding: 80px 0;
}
.service-wrapper{
    display: flex;
    justify-content: space-between;
}
.srvc-sctn{
    width: 280px;
    position: relative;
}
.srvc-sctn i{
    color: #555;
    font-size: 30px;
    padding-bottom: 30px;
    transition: all linear 0.3s;
}
.srvc-sctn h3{
    color: #555;
    font-family: 'Raleway', sans-serif;
    font-weight: 600px;
    font-size: 22px;
    transition: all linear 0.3s;
}
.srvc-sctn p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300px;
    font-size: 14px;
    color: #8c8c8c;
    padding-bottom: 33px;
}
.srvc-sctn:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,100%);
    width: 70px;
    height: 3px;
    background: #f1eee9;
    transition: all linear 0.3s;
}
.srvc-sctn:hover h3{
    color: #c7b199;
}
.srvc-sctn:hover i{
    color: #c7b199;
}
.srvc-sctn:hover::after{
    background: #c7b199;
}
/* Idea-part */
#Idea-part{
    padding: 80px 0;
    background: #fbfaf8;
}
.idea-slide img{
    display: block;
    width: 100%;
}
.idea-bottom{
    background: linear-gradient(to right, #211b19 , #4e3427);
    padding: 50px 0;
}
.idea-bottom-wrapper{
    display: flex;
    justify-content: space-between;
}
.idea-left h2{
        color: #fff;
        line-height: 36px;
        font-family: 'Raleway', sans-serif;
        font-size: 28px;
        font-weight: 400px;
}
.idea-left h2 span{
        color: #c7b299;
}
.idea-left p{
    color: #615855;
    line-height: 27px;
    font-size: 18px;
    font-weight: 300px;
    font-family: 'Montserrat', sans-serif;
}
/* Project Part */
.projects{
    margin: 30px 30px 0 0;
}
.projects:last-child{
    margin-right: 0;
}
.projects-btn{
    margin: 40px 10px;
    text-align: center;
}
.projects-btn a{
    padding: 10px 20px;
    border: 1px solid #ebebeb;
    border-radius: 2px;
    color: #8c8c8c;
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    font-weight: 300px;
    font-family: 'Montserrat', sans-serif;
    transition: all linear 0.3s;
}
.projects-btn a:hover{
    background: #998575;
    color: #fff;
}
.project-wrapper{
    display: flex;
    justify-content: space-between;
}
.project-image img{
    display: block;
    
}
.project-image{
    position: relative;
}
.overley {
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all linear 0.3s;
}
.overley .project-icon-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all linear 0.3s;
    transform: translate(-50%, -50%)
}
.project-icon-wrapper a{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-right: 30px;
    transition: all linear 0.3s;
}
.project-details{
    padding: 30px;
    background: #fbfaf8;
    position: relative;
    transition: all linear 0.3s;
}
.project-details h3{
    color: #c7b299;
    line-height: 28px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500px;
    transition: all linear 0.3s;
}
.project-details p{
    color: #d1d1d1;
    line-height: 24px;
    font-size: 14px;
    font-weight: 300px;
    font-family: 'Montserrat', sans-serif;
    transition: all linear 0.3s;
}
.project-details:after{
    content: '';
    position: absolute;
    top: 0;
    left: 35px;
    transform: translate(-50% , -40%) rotate(45deg);
    background: #fbfaf8;
    transition: all linear 0.3s;
    height: 30px;
    width: 30px;
    
}
.project-btn{
    display: flex;
    justify-content: center;
    margin: 80px 0;
}

.projects:hover .overley{
    opacity: 0.7;
}
 .overley a:hover{
    color: #c7b299;
}
.projects:hover .project-details{
    background: #352f2d;
}
.projects:hover .project-details:after{
    background: #352f2d;
}
.projects:hover p{
    color: #c7b299;
}
.projects:hover h3{
    color: #fff;
}
/* Video */
#video-part{
    background: url(../img/video-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 210px 0 260px 0;
    text-align: center;
    z-index: 1;
    position: relative; 
}
 #video-part:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    z-index: -1;
    
}
.video-item i{
    color: #fff;
    font-size: 60px;
    line-height: 90px;
}
.video-item h3{
    color: #fff;
    font-size: 30px;
    line-height: 38px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500px;
}
.video-item p{
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300px;
    width: 570px;
    margin: 0 auto;
}
/* mobile part */
#mobile-part{
    background: #fbf9f7;
    padding-top: 80px;
}
.mobile-wrapper{
    display: flex;
}
.mobile{
    width: 500px;
}
.mobile img{
    display: block;
    margin: 0 auto;
}
.mobile-text{
    width: 670px;
}
.mobile-top-text{
    padding-top: 115px;
}
.mobile-top-text h2{
    color: #555;
    font-size: 30px;
    line-height: 38px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600px;
    padding-bottom: 30px;
}
.mobile-top-text p{
    font-weight: 300px;
    color: #8c8c8c;
    font-size: 16px;
    line-height: 38px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300px;
    width: 675px;
    padding-bottom: 45px;
}
.mobile-bottom-text{
    padding-left: 55px;
}
.mobile-bottom-text-wrapper{
    display: flex;
    padding-bottom: 10px;
}
.mobile-bottom-text-wrapper i{
    height: 25px;
    width: 25px;
    line-height: 25px;
    color: #f5f2ee;
    background: #c7b299;
    border-radius: 50%;
    text-align: center; 
    }
.mobile-bottom-text-wrapper p{
    color: #8c8c8c;
    font-size: 16px;
    line-height: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300px;
    padding-left: 30px;
}
.mobile-bottom-part{
    background: linear-gradient(to right, #211b19, #4e3427);
    height: 300px;
    padding: 68px 0 60px 0;
}
.mobile-bottom-part-wrapper{
    display: flex;
    justify-content: space-around;
}
.count-item{
    text-align: center;
    position: relative;
}
.count-item i{
    color: #c7b299;
    font-size: 35px;
}
.count-item h3{
    color: #fff;
    font-size: 48px;
    line-height: 80px;
    font-family: 'Montserrat', sans-serif;
}
.count-item p{
    color: #c7b299;
    font-size: 14px;
    line-height: 20px;
    text-decoration: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300px;
}
.count-item:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 1px;
    width: 30px;
    background: #fff;
    transform: translate(-50%, 25px)
}
/* Recent Post */
#recenr-post{
    padding: 80px 0;
}
.post-part{
    display: flex;
}
.post{
    margin-left: 30px;
}
.post:first-child{
    margin-left: 0;
}
.post-image{
    position: relative;
}
.post-image img{
    display: block;
}
.post-overley{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    transition: all linear 0.3s;
    opacity: 0
}
.post-date{
    position: absolute;
    top: 20px;
    left: 20px;
}
.post-date h3{
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    background: #363636;
    text-align: center;
    color: #fff;
    line-height: 35px;
    height: 35px;
    width: 50px;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300px;
    transition: all linear 0.3s;
}
.post-date h4{
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    background: #242424;
    color: #fff;
    text-align: center;
    height: 25px;
    line-height: 25px;
    width: 50px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;
    transition: all linear 0.3s;
}
.post-details{
    padding: 30px;
    transition: all linear 0.3s;
}
.post-details h4{
    color: #555;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500px;
    transition: all linear 0.3s;
}
.post-details p:nth-child(2){
    width: 310px;
    color: #8c8c8c;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300px;
    padding-top: 20px;
    transition: all linear 0.3s;
}
.post-details p:last-child{
    color: #c7b299;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300px;
    padding-top: 30px;
}
.post-icon{
    display: flex;
    justify-content: center;
    padding: 40px 0 80px 0;
}
.post-icon i{
    color: #d1d1d1;
    text-align: center;
    border: 1px solid #d1d1d1;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    transition: all linear 0.3s;
}
.post-icon i:first-child{
    margin-right: 4px;
}
.post-icon i:last-child{
    margin-left: 4px;
}

.post:hover .post-overley{
    opacity: 0.7;
}
.post:hover .post-date h3{
    background: #c7b199;
}
.post:hover .post-date h4{
    background: #a48d71;
}
.post:hover .post-details h4{
    color: #c7b299;
}
.post:hover .post-details p:nth-child(2){
    color: #fff;
}
.post:hover .post-details{
    background: #352f2d;
}
.post-icon i:hover{
    color: #c7b299;
    border-color: #c7b299;
}
/* Partners part */
#partners{
    background: url(../img/partner-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
}
#partners:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.7);
    z-index: -1;
}
.partnar-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 490px;
}
/* Footer */
#footer{}
.footer-top{
    background: #191919;
    padding: 80px 0;
}
.footer-top-wrapper{
    display: flex;
    color: #fff;
}
.footer-item:first-child{
    width: 280px;
}
.footer-item:first-child p:nth-child(2){
    color: #555;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300px;
    padding: 20px 0 30px 0;
}
.footer-item:first-child p:nth-child(3){
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400px;
}
.footer-item:nth-child(2){
    width: 305px;
    margin-left: 20px;
}
.post-item{
    margin-bottom: 40px;
    position: relative;
}
.post-item:after{
     content: "";
     position: absolute;
     bottom: 0;
     left: 0;
     height: 0.5px;
     width: 270px;
     background: #363636;
     transform: translateY(20px);
}
.post-item:last-child:after{
    opacity: 0;
}
.post-item:last-child{
    width: 230px;
}
.item-header h3{
    color: #fff;
    font-size: 24px;
    line-height: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700px;
    margin: 30px 0;
}
.post-item p:first-child{
    color: #363636;
    font-size: 12px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300px;
    transition: all linear 0.3s;
}
.post-item p:last-child{
    color: #555;
    font-size: 12px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300px;
    transition: all linear 0.3s;
}
.post-item:hover p:first-child{
     color: #fff;
}
.post-item:hover p:last-child{
     color: #c7b299;
}
.footer-item:nth-child(3){
    width: 305px;
    margin-left: 20px;
}
.twitter-item{
    margin-bottom: 40px;
    position: relative;
}
.twitter-item p:first-child{
    color: #555;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300px;
    padding-bottom: 10px;
}
.twitter-item p:first-child span{
    color: #00bff3;
}
.twitter-item:last-child p:first-child span{
    color: #959595;
}
.twitter-item p:last-child{
    color: #363636;
    font-size: 12px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300px;
}
.twitter-item:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.5px;
    width: 270px;
    background: #363636;
    transform: translateY(20px);
}
.twitter-item:last-child:after {
    opacity: 0;
}




.footer-item:last-child{
    width: 280px;
}
.footer-bottom{
    background: #101010;
    line-height: 100px;
    height: 110px;
    color: yellow
}
.footer-bottom-wrapper{
    display: flex;
    justify-content: space-between;
}
.importatn-links,.credits{
    display: flex;
}
.importatn-links p:first-child{
    /* margin-right: 20px; */
    position: relative;
}
.credits p, .importatn-links p{
    /* margin: 0 10px; */
}
/* .importatn-links a:nth-child(2){
    padding-left: 0;
    border: 0;
} */
.importatn-links a, .credits p:first-child{
    /* padding: 0; */
    margin: 0 10px;
    background: red;
}

.importatn-links a:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 14px;
    width: 1px;
    background: #fff;
    transform: translateY(20px, 50%);
}